@media (max-width: 1400px) {
    .container {
        margin: 0 40px;
    }
    .header__navbar__item {
        padding: 40px 30px 0;
    }
    .hero__content {
        margin-top: 60px;
    }
    .contact__address {
        width: 60%;
    }
}

/* Landscape tablets and medium desktops */
@media (max-width: 1200px) {
    .header__navbar__item {
        padding: 40px 20px 0;
    }
    .header__logo {
        margin-top: 0;
    }
    .header__logo svg {
        width: 80%;
    }
    .header__middle-bg-line {
        top: 150px;
    }
    .hero__content {
        margin-top: 20px;
    }
    .hero__subtitle {
        margin-bottom: 10px;
    }
    .hero__btn-wrap {
        margin-top: 42px;
    }
    .menu__list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu__list-col {
        width: 50%;
    }
    .menu__list-col:last-of-type {
        margin-top: 30px;
    }
    .menu__list-item {
        text-align: center;
    }

    .events__img-box {
        padding: 0 30px;
    }

    .contact__form__bottom {
        flex-direction: column-reverse;
    }
    .contact__form__bottom .col-6 {
        width: 100%;
    }
    .contact__address {
        justify-content: center;
        margin-top: 20px;
    }

}

/* Portrait tablets and small desktops */
@media (max-width: 992px) {
    .container {
        margin: 0 30px;
    }

    .section__img-box:after {
        width: 180px;
        height: 180px;
        border-width: 18px;
    }

    .header__navbar__item {
        padding: 40px 10px 0;
    }
    .hero__title {
        font-size: 68px;
        margin-bottom: 40px;
    }

    .booking__work-time {
        margin-top: 10px;
    }
    .menu__list-item__title {
        font-size: 16px;
    }
    .menu__list-item__text {
        font-size: 12px;
    }

}
/* Landscape phones and portrait tablets */
@media (max-width: 765px) {
    .section__img-box:after {
        display: none;
    }
    .section__text-box__title {
        font-size: 28px;
    }

    .text-box__subtitle {
        font-size: 14px;
    }
    .section__text-box__text {
        font-size: 12px;
        margin-top: 10px;
    }
    .section__pre-title {
        margin-bottom: 20px;
        height: 40px;
    }

    .bg-line {
        display: none;
    }
    .header__navbar {
        flex-direction: column;
    }
    .header__navbar__item {
        padding: 20px 0 0;
        height: inherit;
        border: none;
    }
    .header__right-navbar {
        justify-content: flex-start;
        align-items: flex-end;
    }
    .hero__title {
        max-width: 500px;
    }
    .hero__content {
        margin-top: 20px;
    }
    .explore-btn {
        width: 150px;
        height: 50px;
    }
    .book-btn {
        width: 150px;
        height: 50px;
    }
    .hero__work-time {
        font-size: 10px;
    }
    .hero__icon {
        font-size: 16px;
    }
    .hero__title span:after {
        right: auto;
        margin: 0;
        left: 106px;
    }
    .about__wrapper {
        margin: 30px 0;
    }
    .team__wrapper {
        padding-bottom: 30px;
    }
    .booking__wrapper {
        margin-top: 60px;
        flex-wrap: wrap;
    }
    .booking__text-box {
        width: 100%;
    }
    .booking__img-box {
        width: 100%;
    }
    .booking__work-time {
        height: 30px;
        margin-top: 20px;
        font-size: 11px;
    }
    .menu {
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .menu__list {
        margin-top: 21px;
    }
    .menu__list-col {
        width: 100%;
        margin-top: 30px;
    }
    .menu__list-item {
        height: 50px;
    }

    .events__pre-title {
        margin-bottom: 0;
        height: 60px;
    }
    .events__bottom-text {
        height: 60px;
        font-size: 10px;
    }
    .events__img-box__sign {
        font-size: 14px;
        width: 50px;
    }
    .events__img-box {
        padding: 0 10px;
    }

    .places-images__wrapper {
        flex-wrap: wrap;
    }

    .places-images-img {
        width: 50%;
    }
    .places-images-img img {
        min-width: 100%;
    }

    .contact__text-box__title {
        margin-top: 60px;
    }
    .contact {
        padding-bottom: 40px;
    }
    .contact__text-box {
        margin-bottom: 30px;
    }
    .contact__address {
        flex-wrap: wrap;
        margin-top: 0;
    }
    .contact__address span {
        margin-top: 10px;
    }
    .contact__submit-btn {
        margin-bottom: 10px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 520px) {
    .container {
        margin: 0 15px;
    }
    .section__wrapper {
        flex-wrap: wrap;
    }

    .section__box {
        width: 100%;
    }
    .section__text-box__title {
        margin-bottom: 20px;
        position: relative;
    }
    .section__text-box__title span {
        position: static;
    }
    .section__text-box__title span:after {
        bottom: -5px;
    }

    .section__pre-title {
        margin-bottom: 0;
    }
    .header__burger {
        display: block;
        width: 30px;
        height: 22px;
        z-index: 6;
        margin-top: 21px;
        position: fixed;
        right: 15px;
        top: 0;
    }

    .header__burger span {
        position: absolute;
        background-color: #ffd800;
        border-radius: 1px;
        left: 0;
        width: 100%;
        height: 2px;
        top: 10px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        box-shadow: 0 0 3px 0 #534e4e;
    }

    .header__burger:after, .header__burger:before {
        content: "";
        background-color: #ffd800;
        border-radius: 1px;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        box-shadow: 0 0 3px 0 #534e4e;
    }

    .header__burger:before {
        top: 0
    }

    .header__burger:after {
        bottom: 0
    }

    .header__navbar-burger {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
        background-color: #191919;
        margin: 0;
        z-index: 5;
        padding-top: 60px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        overflow: auto;
        -webkit-box-shadow: 0 7px 10px -4px rgba(0, 0, 0, 0.25);
        box-shadow: 0 7px 10px -4px rgba(0, 0, 0, 0.25)
    }

    .header__wrapper {
        flex-direction: column;
        justify-content: flex-start;
        background: url("../img/team-bg.png") no-repeat;
        background-size: cover;
    }

    .header__navbar{
        display: none;
    }

    .header__right-navbar {
        align-items: center;
    }

    .header__navbar__item {
        font-family: "Banny Round", sans-serif;
        font-size: 25px;
        padding: 15px;
        color: white;
    }

    .header__left-navbar {
        position: relative;
        padding-bottom: 30px;
    }

    .header__left-navbar:after {
        content: "";
        width: 60%;
        height: 3px;
        background-color: #E8C300;
        position: absolute;
        bottom: 15px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .header__logo {
        display: none;
    }

    body.active {
        overflow: hidden
    }

    body.active  .header__burger:before {
        transform: rotate(45deg);
        top: 12px
    }
    body.active  .header__burger:after {
        transform: rotate(-45deg);
        bottom: 8px
    }

    body.active .header__navbar-burger {
        top: 0
    }

    body.active .header__burger span {
        transform: scale(0)
    }

    body.active .header__navbar {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .explore-btn {
        width: 140px;
        height: 50px;
    }
    .book-btn {
        width: 140px;
        height: 50px;
        margin-right: 20px;
    }
    .hero__content {
        margin-top: 0;
        padding-top: 120px;
        flex-wrap: wrap;
    }
    .hero__work-time {
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
    }
    .hero__work-time p {
        transform: rotate(0);
        writing-mode: inherit;
    }
    .hero__main-box {
        width: 100%;
    }
    .hero__title {
        font-size: 70px;
        position: relative;
    }
    .hero__subtitle {
        font-size: 18px;
    }
    .hero__title span {
        position: static;
    }
    .hero__title span:after {
        left: 0;
        right: 0;
        margin: auto;
    }
    .hero__title span:after {
        bottom: -20px;
    }
    .hero__icons {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
    }
    .hero__icon {
        width: 50px;
        height: 50px;
        margin: 0 5px;
        font-size: 20px;
        padding: 15px;
    }
    .hero__btn-wrap {
        margin-top: 20px;
    }
    .hero__down-btn-wrapper {
        padding: 10px;
    }
    .hero__down-btn {
        padding: 15px;
    }


    .about__wrapper {
        margin-bottom: 10px;
        margin-top: 60px;
    }
    .booking__img-box {
        display: none;
    }
    .team__wrapper {
        padding-bottom: 40px;
    }
    .booking__work-time {
        height: 40px;
    }
    .specialty__wrapper {
        padding-bottom: 40px;
    }
    .swiper-pagination {
        margin-bottom: 5px;
    }
    .menu__list {
        margin-top: 0;
    }
    .menu__types {
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .menu__type-item {
        margin-bottom: 10px;
        border-left: 1px solid rgba(51, 51, 51, 0.2);
        border-right: 1px solid rgba(51, 51, 51, 0.2);
    }
    .menu__type-item:last-of-type {
        border-left: 1px solid rgba(51, 51, 51, 0.2);
        border-right: 1px solid rgba(51, 51, 51, 0.2);
    }
    .menu__list-item__title {
        font-size: 14px;
    }
    .menu__list-item__text {
        font-size: 11px;
    }

    .events__img-box__sign {
        font-size: 20px;
        width: 50px;
    }
    .events__img-box {
        padding: 0;
    }

    .places-images-img {
        width: 100%;
    }
    .places-images-img img {
        min-width: 100%;
    }

    .contact__input-wrap {
        width: 100%;
        margin-bottom: 10px;
    }
    .contact__textarea {
        margin-top: 0;
    }
    .footer__wrapper {
        height: 60px;
    }
}


