* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}


label {
  display: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.333%;
}

.col-3 {
  width: 25%;
}

.book-btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #E8C300;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
}

.btn {
  overflow: hidden;
  position: relative;
}

.btn:after {
  content: '';
  display: block;
  position: absolute;
  top: -36px;
  left: -100px;
  background: white;
  width: 50px;
  height: 125px;
  opacity: 20%;
  transform: rotate(-45deg);
}

.btn:hover:after {
  left: 120%;
  transition: all 700ms cubic-bezier(0.3, 1, 0.2, 1);
  -webkit-transition: all 700ms cubic-bezier(0.3, 1, 0.2, 1);
}

.explore-btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 5px;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.section {
  &__wrapper {
    align-items: center;
  }

  &__box {
    text-align: center;
  }

  &__text-box__title {
    font-family: "Banny Round", sans-serif;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__text-box__title span {
    position: relative;
  }

  &__text-box__title span:after {
    content: "";
    width: 59px;
    height: 5px;
    background: #E8C300;
    border-radius: 50px;
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &__text-box__text {
    font-size: 16px;

    margin-top: 20px;
  }

  &__box img {
    max-width: 100%;
  }

  &__pre-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__img-box {
    position: relative;
  }

  &__img-box:after {
    content: "";
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
}

.bg-line {
  position: absolute;
  height: 100%;
  width: 1px;
    background: rgba(255, 255, 255, 0.2);
}

.left-bg-line {
  left: 20%;
  top: 0;
}
.right-bg-line {
  right: 20%;
  top: 0;
}

.middle-bg-line {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.text-box__subtitle {
  font-weight: bold;
  font-size: 18px;

}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.header {
  position: relative;
  z-index: 10000;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__left-bg-line {
    top: 100px;
  }
  &__right-bg-line {
    top: 100px;
  }
  &__middle-bg-line {
    top: 203px;
  }


  &__logo {
    margin-top: 25px;
    text-align: center;
    animation: spin 5s linear 0s infinite;
    background-color: transparent;
    z-index: 5;
    position: relative;

  }

  &__burger {
    display: none;
  }
  &__navbar {
    width: 50%;
    display: flex;
  }

  &__right-navbar {
    justify-content: flex-end;
  }

  &__navbar__item {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    height: 100px;
    padding: 40px 45px 0;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: ease-in-out .4s;

      &:hover {
        color: #FFD600;
      }
  }

}

.hero {
  &-bg {
    background: #131010 url("../img/header-bg.png") no-repeat center/cover;
    height: 100vh;
    position: relative;
  }

  &__content {
    margin-top: 151px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__work-time {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    width: 38px;
  }

  &__work-time p {
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
  }

  &__main-box {
    text-align: center;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  &__title {
    font-family: "Banny Round", sans-serif;
    font-size: 96px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 60px;
  }

  &__title span {
    position: relative;
  }

  &__title span:after {
    content: "";
    width: 60px;
    height: 5px;
    background: #E8C300;
    border-radius: 50px;
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__book-btn {
    margin-right: 40px;
  }

  &__icons {
    display: flex;
    flex-direction: column;
    width: 38px;
  }

  &__icon {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    transition: .4s;
      &:hover {
        color: #E8C300;
        transform: scale(1.1);
      }
  }

  &__btn-wrap {
    text-align: center;
    margin-top: 72px;
  }

  &__down-btn-wrapper {
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }

  &__down-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
      &:hover {
        transform: scale(1.1);
      }
      &:hover.hero__down-btn-wrapper {
        padding: 20px;
      }
  }
}

.about {
  &__wrapper {
    color: #000;
    margin: 50px 0;
  }

  &__box {
    padding: 0 40px;
  }

  &__img-box:after {
    right: 0;
  }
}

.team {
  background: #2d2a2a url("../img/team-bg.png") no-repeat center/cover;
  position: relative;

  &__wrapper {
    color: #FFFFFF;
    padding-bottom: 50px;
  }

  &__img-box:after {
    left: 0;
  }

  &__text-box__subtitle {
    color: rgba(255, 255, 255, 0.9);
  }

  &__text-box__text {
    color: rgba(255, 255, 255, 0.6);
  }
}

.booking {
  &__wrapper {
    margin-top: 50px;
  }

  &__img-box:after {
    right: 0;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__form__input {
    background: #E5E5E5;
    border-radius: 5px;
    padding: 0 20px;
    height: 60px;
    border: none;
    width: 49%;
    margin-bottom: 10px;
  }

  &__form__input::-webkit-input-placeholder {
    color: rgba(51, 51, 51, 0.5);
  }

  &__form__btn {
    width: 100%;
    border: none;
    background: #E8C300;
    border-radius: 5px;
    padding: 20px;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__form__select-item {
    font-size: 14px;
    text-indent: 20px;
    color: rgba(51, 51, 51, 0.5);
  }

  &__work-time {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: rgba(51, 51, 51, 0.5);
    height: 60px;
  }
}

.booking-main-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: none;
  top: 0;
}
.booking-main-wrapper.active {
  display: block;
}

.__select {
  position: relative;
  background: #E5E5E5;
  border-radius: 5px;
  padding-left: 20px;
  height: 60px;
  width: 49%;
  margin-bottom: 10px;


  &[data-state="active"] {
    .__select__title {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }

    .__select__content {
      opacity: 1;
    }

    .__select__label + .__select__input + .__select__label {
      max-height: 40px;
      border-top-width: 1px;
    }
  }

  &__title.text-active {
    color: black;
  }

  &__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.5);

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 20px;
      display: block;
      width: 10px;
      height: 2px;
      transition: all 0.3s ease-out;
      background-color: rgba(51, 51, 51, 0.5);
      transform: translate(-3px, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(3px, -50%) rotate(-45deg);
    }

    &:hover {
      border-color: #E8C300;

      &::before,
      &::after {
        background-color: #E8C300;
      }
    }
  }

  &__content {
    position: absolute;
    top: 60px;
    left: 3px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 6px);
    background-color: #ffffff;
    border: 1px solid #c7ccd1;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 8;
  }

  &__input {
    display: none;

    &:checked + label {
      background-color: #dedede;
    }

    &:disabled + label {
      opacity: 0.6;
      pointer-events: none;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    max-height: 0;
    padding: 0 16px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;

    & + input + & {
      border-top: 0 solid #C7CCD160;
    }

    &:hover {
      background-color: #E8C300 !important;
      color: #ffffff;
    }
  }

}

.specialty {
  background: #2d2a2a url("../img/specialty's-bg.png") no-repeat center/cover;
  position: relative;

  &__wrapper {
    color: #FFFFFF;
    padding-bottom: 50px;
  }

  &__img-box:after {
    left: 0;
  }

  &__text-box__subtitle {
    color: rgba(255, 255, 255, 0.9);
  }

  &__text-box__text {
    color: rgba(255, 255, 255, 0.6);
  }
}

.swiper-slide {
  cursor: grab;
}

.swiper-pagination {
  margin-bottom: 35px;
  &-bullet {
    background: rgba(255, 255, 255, 0.5);
    opacity: 1;
  }
  &-bullet-active {
    background: #FFFFFF;
  }
}

.menu {
  margin-top: 100px;
  margin-bottom: 60px;

  &__text-box {
    max-width: 565px;
    margin: 0 auto;
    text-align: center;
  }

  &__types {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  &__type-item {
    font-weight: bold;
    font-size: 12px;
    color: #333333;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    cursor: pointer;
    text-transform: uppercase;
    transition: .5s;
  }

  &__type-item:hover {
    color: #E8C300;
  }

  &__type-item:last-of-type {
    border: none;
  }

  &__list {
    margin: 51px -10px 0;
    display: none;
  }

  &__list.active {
    display: flex;
  }

  &__list-col {
    padding: 0 10px;
  }

  &__list-item {
    height: 66px;
    animation: fadeInTop 0.5s ease forwards;
  }

  &__list-item__title {
    font-family: "Banny Round", sans-serif;
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__list-item__title span {
    margin-left: 5px;
  }

  &__list-item__text {
    color: #999;
    font-size: 14px;
  }
}

.events {
  background: url("../img/specialty's-bg.png") no-repeat center/cover;
  position: relative;

  &__pre-title {
    height: 100px;
    align-items: center;
  }

  &__img-box__wrapper {
    position: relative;
    display: inline-block;
  }

  &__img-box1:after {
    left: 0;
  }

  &__img-box2:after {
    right: 0;
  }


  &__img-box__sign {
    font-family: "Banny Round", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
    border-radius: 0 5px 5px 0;
    position: absolute;
    writing-mode: vertical-lr;
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    padding: 20px 0;
  }

  &__img-box1__sign {
    right: 0;
    top: 0;
  }

  &__img-box2__sign {
    transform: rotate(180deg);
    left: 0;
    bottom: 0;
  }

  &__bottom-text {
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.places {
  &-images__container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.images-swiper-slide {
  max-width: 25%;
      & img {
        max-width: 100%;
      }
}


.contact {
  padding-bottom: 100px;

  &__text-box {
    max-width: 565px;
    text-align: center;
    margin: 0 auto 50px;
  }

  &__text-box__title {
    margin-top: 100px;
  }

  &__form {
    flex-wrap: wrap;
    margin: 0 -5px;
  }

  &__input-wrap {
    padding: 0 5px;
  }

  &__input {
    width: 100%;
    background: #E5E5E5;
    border-radius: 5px;
    height: 60px;
    border: none;
    padding: 0 20px;
  }

  &__input::placeholder {
    color: #8c8c8c;
  }

  &__textarea::placeholder {
    color: #8c8c8c;
  }

  &__textarea-wrap {
    margin: 0 5px;
  }

  &__textarea {
    width: 100%;
    margin-top: 10px;
    background: #E5E5E5;
    border-radius: 5px;
    border: none;
    padding: 20px;
  }

  &__form__bottom {
    display: flex;
    align-items: center;
    margin: 10px 5px 0;
  }

  &__address {
    font-weight: 900;
    font-size: 12px;
    color: #999;
    display: flex;
    align-items: center;
  }

  &__submit-btn {
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 5px;
    background: #E8C300;
    width: 100%;
    border: none;
    height: 60px;
    cursor: pointer;
  }

  &__form-phone-icon {
    transform: scale(-1, 1);
  }

  &__address span {
    margin: 0 5px;
  }

  &__form-icon {
    margin: 0 5px;
  }

  &__form-icon:first-of-type {
    margin-left: 0;
  }
}

.mapouter {
  position: relative;
  text-align: right;
  height: 475px;
  width: 100%;

}

.gmap__canvas {
  overflow: hidden;
  background: none !important;
  height: 475px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  background: rgba(0, 0, 0, 0.9);

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  &__text {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
  }
}

