* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

label {
  display: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.333%;
}

.col-3 {
  width: 25%;
}

.book-btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #E8C300;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 60px;
}

.btn {
  overflow: hidden;
  position: relative;
}

.btn:after {
  content: "";
  display: block;
  position: absolute;
  top: -36px;
  left: -100px;
  background: white;
  width: 50px;
  height: 125px;
  opacity: 20%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn:hover:after {
  left: 120%;
  transition: all 700ms cubic-bezier(0.3, 1, 0.2, 1);
  -webkit-transition: all 700ms cubic-bezier(0.3, 1, 0.2, 1);
}

.explore-btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 5px;
  width: 200px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.section__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section__box {
  text-align: center;
}
.section__text-box__title {
  font-family: "Banny Round", sans-serif;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.section__text-box__title span {
  position: relative;
}
.section__text-box__title span:after {
  content: "";
  width: 59px;
  height: 5px;
  background: #E8C300;
  border-radius: 50px;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.section__text-box__text {
  font-size: 16px;
  margin-top: 20px;
}
.section__box img {
  max-width: 100%;
}
.section__pre-title {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.section__img-box {
  position: relative;
}
.section__img-box:after {
  content: "";
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.bg-line {
  position: absolute;
  height: 100%;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.left-bg-line {
  left: 20%;
  top: 0;
}

.right-bg-line {
  right: 20%;
  top: 0;
}

.middle-bg-line {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.text-box__subtitle {
  font-weight: bold;
  font-size: 18px;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.header {
  position: relative;
  z-index: 10000;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__left-bg-line {
  top: 100px;
}
.header__right-bg-line {
  top: 100px;
}
.header__middle-bg-line {
  top: 203px;
}
.header__logo {
  margin-top: 25px;
  text-align: center;
  -webkit-animation: spin 5s linear 0s infinite;
          animation: spin 5s linear 0s infinite;
  background-color: transparent;
  z-index: 5;
  position: relative;
}
.header__burger {
  display: none;
}
.header__navbar {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__right-navbar {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__navbar__item {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  height: 100px;
  padding: 40px 45px 0;
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}
.header__navbar__item:hover {
  color: #FFD600;
}

.hero-bg {
  background: #131010 url("../img/header-bg.png") no-repeat center/cover;
  height: 100vh;
  position: relative;
}
.hero__content {
  margin-top: 151px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__work-time {
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  width: 38px;
}
.hero__work-time p {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}
.hero__main-box {
  text-align: center;
}
.hero__subtitle {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.hero__title {
  font-family: "Banny Round", sans-serif;
  font-size: 96px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 60px;
}
.hero__title span {
  position: relative;
}
.hero__title span:after {
  content: "";
  width: 60px;
  height: 5px;
  background: #E8C300;
  border-radius: 50px;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero__book-btn {
  margin-right: 40px;
}
.hero__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 38px;
}
.hero__icon {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.hero__icon:hover {
  color: #E8C300;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.hero__btn-wrap {
  text-align: center;
  margin-top: 72px;
}
.hero__down-btn-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
}
.hero__down-btn {
  padding: 11px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: white;
  display: inline-block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.hero__down-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.hero__down-btn:hover.hero__down-btn-wrapper {
  padding: 20px;
}

.about__wrapper {
  color: #000;
  margin: 50px 0;
}
.about__box {
  padding: 0 40px;
}
.about__img-box:after {
  right: 0;
}

.team {
  background: #2d2a2a url("../img/team-bg.png") no-repeat center/cover;
  position: relative;
}
.team__wrapper {
  color: #FFFFFF;
  padding-bottom: 50px;
}
.team__img-box:after {
  left: 0;
}
.team__text-box__subtitle {
  color: rgba(255, 255, 255, 0.9);
}
.team__text-box__text {
  color: rgba(255, 255, 255, 0.6);
}

.booking__wrapper {
  margin-top: 50px;
}
.booking__img-box:after {
  right: 0;
}
.booking__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.booking__form__input {
  background: #E5E5E5;
  border-radius: 5px;
  padding: 0 20px;
  height: 60px;
  border: none;
  width: 49%;
  margin-bottom: 10px;
}
.booking__form__input::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.5);
}
.booking__form__btn {
  width: 100%;
  border: none;
  background: #E8C300;
  border-radius: 5px;
  padding: 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
}
.booking__form__select-item {
  font-size: 14px;
  text-indent: 20px;
  color: rgba(51, 51, 51, 0.5);
}
.booking__work-time {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: rgba(51, 51, 51, 0.5);
  height: 60px;
}

.__select {
  position: relative;
  background: #E5E5E5;
  border-radius: 5px;
  padding-left: 20px;
  height: 60px;
  width: 49%;
  margin-bottom: 10px;
}
.__select[data-state=active] .__select__title::before {
  -webkit-transform: translate(-3px, -50%) rotate(-45deg);
          transform: translate(-3px, -50%) rotate(-45deg);
}
.__select[data-state=active] .__select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(45deg);
          transform: translate(3px, -50%) rotate(45deg);
}
.__select[data-state=active] .__select__content {
  opacity: 1;
}
.__select[data-state=active] .__select__label + .__select__input + .__select__label {
  max-height: 40px;
  border-top-width: 1px;
}
.__select__title.text-active {
  color: black;
}
.__select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.5);
}
.__select__title::before, .__select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: rgba(51, 51, 51, 0.5);
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}
.__select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}
.__select__title:hover {
  border-color: #E8C300;
}
.__select__title:hover::before, .__select__title:hover::after {
  background-color: #E8C300;
}
.__select__content {
  position: absolute;
  top: 60px;
  left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 6px);
  background-color: #ffffff;
  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}
.__select__input {
  display: none;
}
.__select__input:checked + label {
  background-color: #dedede;
}
.__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}
.__select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}
.__select__label + input + .__select__label {
  border-top: 0 solid #C7CCD160;
}
.__select__label:hover {
  background-color: #E8C300 !important;
  color: #ffffff;
}

.specialty {
  background: #2d2a2a url("../img/specialty's-bg.png") no-repeat center/cover;
  position: relative;
}
.specialty__wrapper {
  color: #FFFFFF;
  padding-bottom: 50px;
}
.specialty__img-box:after {
  left: 0;
}
.specialty__text-box__subtitle {
  color: rgba(255, 255, 255, 0.9);
}
.specialty__text-box__text {
  color: rgba(255, 255, 255, 0.6);
}

.swiper-pagination {
  margin-bottom: 35px;
}
.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #FFFFFF;
}

.menu {
  margin-top: 100px;
  margin-bottom: 60px;
}
.menu__text-box {
  max-width: 565px;
  margin: 0 auto;
  text-align: center;
}
.menu__types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
.menu__type-item {
  font-weight: bold;
  font-size: 12px;
  color: #333333;
  width: 120px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu__type-item:hover {
  color: #E8C300;
}
.menu__type-item:last-of-type {
  border: none;
}
.menu__list {
  margin: 51px -10px 0;
  display: none;
}
.menu__list.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list-col {
  padding: 0 10px;
}
.menu__list-item {
  height: 66px;
  -webkit-animation: fadeInTop 0.5s ease forwards;
          animation: fadeInTop 0.5s ease forwards;
}
.menu__list-item__title {
  font-family: "Banny Round", sans-serif;
  font-size: 18px;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
}
.menu__list-item__title span {
  margin-left: 5px;
}
.menu__list-item__text {
  color: #999;
  font-size: 14px;
}

.events {
  background: url("../img/specialty's-bg.png") no-repeat center/cover;
  position: relative;
}
.events__pre-title {
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.events__img-box__wrapper {
  position: relative;
  display: inline-block;
}
.events__img-box1:after {
  left: 0;
}
.events__img-box2:after {
  right: 0;
}
.events__img-box__sign {
  font-family: "Banny Round", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #000000;
  border-radius: 0 5px 5px 0;
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  height: 100%;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.events__img-box1__sign {
  right: 0;
  top: 0;
}
.events__img-box2__sign {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 0;
  bottom: 0;
}
.events__bottom-text {
  font-size: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.places-images__container {
  max-width: 1440px;
  margin: 0 auto;
}
.places-images-img img {
  max-width: 100%;
  display: block;
}

.contact {
  padding-bottom: 100px;
}
.contact__text-box {
  max-width: 565px;
  text-align: center;
  margin: 0 auto 50px;
}
.contact__text-box__title {
  margin-top: 100px;
}
.contact__form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px;
}
.contact__input-wrap {
  padding: 0 5px;
}
.contact__input {
  width: 100%;
  background: #E5E5E5;
  border-radius: 5px;
  height: 60px;
  border: none;
  padding: 0 20px;
}
.contact__input::-webkit-input-placeholder {
  color: #8c8c8c;
}
.contact__input::-moz-placeholder {
  color: #8c8c8c;
}
.contact__input:-ms-input-placeholder {
  color: #8c8c8c;
}
.contact__input::-ms-input-placeholder {
  color: #8c8c8c;
}
.contact__input::placeholder {
  color: #8c8c8c;
}
.contact__textarea::-webkit-input-placeholder {
  color: #8c8c8c;
}
.contact__textarea::-moz-placeholder {
  color: #8c8c8c;
}
.contact__textarea:-ms-input-placeholder {
  color: #8c8c8c;
}
.contact__textarea::-ms-input-placeholder {
  color: #8c8c8c;
}
.contact__textarea::placeholder {
  color: #8c8c8c;
}
.contact__textarea-wrap {
  margin: 0 5px;
}
.contact__textarea {
  width: 100%;
  margin-top: 10px;
  background: #E5E5E5;
  border-radius: 5px;
  border: none;
  padding: 20px;
}
.contact__form__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 5px 0;
}
.contact__address {
  font-weight: 900;
  font-size: 12px;
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__submit-btn {
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
  border-radius: 5px;
  background: #E8C300;
  width: 100%;
  border: none;
  height: 60px;
  cursor: pointer;
}
.contact__form-phone-icon {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.contact__address span {
  margin: 0 5px;
}
.contact__form-icon {
  margin: 0 5px;
}
.contact__form-icon:first-of-type {
  margin-left: 0;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 475px;
  width: 100%;
}

.gmap__canvas {
  overflow: hidden;
  background: none !important;
  height: 475px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  background: rgba(0, 0, 0, 0.9);
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}
.footer__text {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}